<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Redirecting...</title>

  <script>
    const redirectUrl = "https://powerforce.jp/";
    setTimeout(() => {
      window.location.href = redirectUrl;
    }, 1000);
  </script>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V48CX9EKET"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V48CX9EKET');
</script>

<body>
  <p>Redirecting to destination... Please wait.</p>
</body>
</html>